GEMINI_API_KEY="AIzaSyDO7ZWrLJnKTcfbHreTFb9tqH98NlJ4DvU"
GROQ_API_KEY="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"
TEXT_TO_AUDIO="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"
STREAMLIT_WATCHER_TYPE=none
